.mainButtons {
  padding-bottom: 2em;
}

.div_main_choose_screen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  height: max-content;
  padding: 2rem;
  background-image: url('https://i.gifer.com/4J5B.gif');
  background-color: rgb(139, 50, 241);
  background-repeat: repeat;
}

.div_util_button_set {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100vw;
}

.mainButtons {
  padding-bottom: 2em;
}

.puzzle_name {
  width: inherit;
}

.div_puzzle_card {
  margin: 1rem;
}
