.mainButtons {
  padding-bottom: 2em;
}

.div_main_choose_screen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 2rem;
  /* background-image: url('https://i.gifer.com/4J5B.gif');
  background-color: rgb(29, 137, 170); */
  background-repeat: repeat;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.div_util_button_set {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100vw;
}

.mainButtons {
  padding-bottom: 2em;
}

.puzzle_name {
  width: inherit;
}

.div_puzzle_card {
  margin: 1rem;
}

@media only screen and (min-width: 768px) {
  .div_puzzle_card {
    padding-top: 2rem;
  }
}
