.mainButtons {
  padding-bottom: 2em;
}

.div_main_choose_screen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 2rem;
  /* background-image: url('https://i.gifer.com/4J5B.gif');
  background-color: rgb(29, 137, 170); */
  background-repeat: repeat;
}

.div_util_button_set {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100vw;
}

.mainButtons {
  padding-bottom: 2em;
}

.puzzle_name {
  width: inherit;
}

.div_puzzle_card {
  margin: 1rem;
}

.card-button {
  background-color: #5e94db;
  color: black;
  border: 2px solid #1b1e1f;
  border-radius: 6px;
  transition-duration: 0.4s;
  height: 35px;
  width: 70px;
  box-shadow: 7px 6px 28px 1px rgba(22, 6, 94, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.card-button:hover {
  background-color: #1f5baa;
}

.card-button:active {
  transform: scale(0.8);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(2, 19, 55, 0.24);
  /* Lowering the shadow */
}
