.div_main_start_screen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 95vh;
  box-sizing: border-box;
  padding: 2rem;
}

.div_util_button_set {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100vw;
}

.div_main_button_set {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 40vh;
  margin-top: 8rem;
  padding-top: 5rem;
  justify-content: space-around;
}

.div_secondary_button_set {
  padding-top: 12rem;
}

.tag_line {
  font-size: 0.9rem;
}
